body {
    background-color: rgba(0, 0, 0, 0.892)
}

.navi ul li {
    color: gold;
    font-size: larger;
    display: inline;
    display: flex;
    margin-left: 55px;
}
nav ul {
    display: flex;
    list-style: none;
}
.introduction {
    color: rgba(255, 217, 0, 0.864);
    font-size: 30px;
}
.team {
    color: rgba(255, 217, 0, 0.864);
    font-size: 20px;
}
.forms {
    color: rgba(255, 217, 0, 0.864);
}
.icons {
    color: rgba(255, 217, 0, 0.864);
    font-size: x-large;
}
.footer a {
    color: aqua;
    float: left;
    font-size: x-large;
    width: 25%;
}
.James, .Lucy, .Diana, .Maurice {
    width: 20%;
    margin-left: 5%;
}
.contact_us {
    float: right;
    margin-left: 50%
}
